<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <add name="db" connectionString="Data Source=T;Initial Catalog=Agency;Integrated Security=True" />
        <add name="TravelAgency.Properties.Settings.AgencyConnectionString"
            connectionString="Data Source=T;Initial Catalog=Agency;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>